#birdKiss {
background-image: url(../images/birds%20kissing%20outer.png);
width: 350px;
height: 242px;
}
#birdKiss:hover {
background-image: url(../images/birds%20kissing.png);
width: 350px;
height: 242px;
}
.pinkfont {
color: rgb(255,20,147);
}
@-webkit-keyframes cloverMoves {
25% {-webkit-transform: rotate(-75deg);}
50% {-webkit-transform: rotate(75deg);}
75% {-webkit-transform: rotate(-75deg);}
100% {-webkit-transform: rotate(0deg);}
}
.clover:hover {
-webkit-animation: cloverMoves 3.5s;
}
.clover {
height: 1px;
width: 150px;
position: relative;
left: 700px;
text-align: center;
}
.clover .text{
visibility: hidden;
}
.clover:hover .text{
visibility: visible;
}
.angryBackground {
background-image: url(../images/angrybirdsbackground.jpg);
background-size: cover;
}
.ribbon {
background-color: #a00;
overflow: hidden;
white-space: nowrap;
/* top right corner */
position: absolute;
right: -50px;
top: 40px;
/* 45 deg ccw rotation */
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
/* shadow */
-webkit-box-shadow: 0 0 50px #888;
-moz-box-shadow: 0 0 50px #888;
box-shadow: 0 0 50px #888;
}
.ribbon a {
border: 1px solid #faa;
color: #fff;
display: block;
font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin: 1px 0;
padding: 10px 50px;
text-align: center;
text-decoration: none;
/* shadow */
text-shadow: 0 0 5px #444;
}