#birdKiss {
	background-image: url(../images/birds%20kissing%20outer.png);
	width: 350px;
	height: 242px;
}
#birdKiss:hover {
background-image: url(../images/birds%20kissing.png);
width: 350px;
height: 242px;
}
#divTwo{
width: 100px;
height: 100px;
background-color: green;
}
#divTwo:hover{
-webkit-animation: doStuff 7s;
}

@-webkit-keyframes doStuff {
0% {background-color:white;}
25% {background-color:red;}
}
#divThree:hover {
	-webkit-animation: doCrazyStuff 10s infinite alternate;
}
.pinkfont {
	color: rgb(255,20,147);
}